* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.col, .center{
    float: left;
}

/* BODY */

body {
    max-width: 90%;
    margin: auto;
}

body >*{
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-color: #e579e6;
    height: 100px;
    margin: 20px auto;
}

main {
    margin: 20px auto;
}

main >*{
    overflow: hidden;
    float: left;
    width: 100%;
}

main::after {
    content: "";
    clear: both;
    display: block;
}

.jumbotron {
    background-color: #e1d67a;
    margin-bottom: 20px;
    height: 300px;
}

.container {
    background-color: #0087ff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

.container >div {
    float: left;
    background-color: #abcfe7;
}


/* COLUMNS */

.main-top {
    height: 100px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.col.small {
    width: 25%;
    height: 400px;
}

.col.big {
    width: calc(50% - 40px);
    margin: 0 20px;
    height: 400px;
}

/* FOOTER */

footer {
    background-color: #8801fe;
    height: 50px;
    display: block;
}