* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.col, .center{
    float: left;
}

/* BODY */

body {
    max-width: 90%;
    margin: auto;
}

body >*{
    max-width: 1024px;
    margin: 0 auto;
}

header {
    height: 100px;
    margin-bottom: 20px;
}

header img {
    height: 50px;
    padding-right: 10px;
    border-right: 1px solid rgb(195, 195, 195);
    margin-bottom: 20px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-right: 10px;
}

header ul li a {
    color: rgb(109, 109, 109);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.8rem;
}

main {
    margin: 20px auto;
}

main >*{
    overflow: hidden;
    float: left;
    width: 100%;
}

main::after {
    content: "";
    clear: both;
    display: block;
}

.jumbotron {
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.jumbotron .overlay {
    background-color: rgba(29, 29, 29, 0.212);
    width: 100%;
    height: 100%;
    position: relative;
    padding: 40px;
}

.jumbotron .overlay article {
    position: absolute;
    bottom: 60px;
    max-width: 600px;
}

.jumbotron .overlay article h2,
.jumbotron .overlay article p {
    color: white;
    font-weight: 300;
} 

.container {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

.container >div {
    float: left;
}

.container .col .banner {
    height: 160px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container .col .banner::after {
    background-color: rgba(29, 29, 29, 0.212);
    width: 100%;
    height: 100%;
    content: "";
    display: block;
}
.container .col .banner.img1 {
    background-image: url(img/img-1.jpg);
}

.container .col .banner.img2 {
    background-image: url(img/banner-2.jpg);
}

.container .col .banner.img3 {
    background-image: url(img/img-3.jpg);
}

.container .col h3,
.container .col p {
    font-size: 0.8rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.container .col p {
    color: rgb(109, 109, 109);
    font-weight: 300;
}

/* COLUMNS */

.main-top {
    padding: 20px 0;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.main-top h2 {
    font-size: 2rem;
    font-weight: bold;
}

.main-top p {
    color: rgb(109, 109, 109);
    font-size: 0.8rem;
    font-weight: 300;
}

.col.small {
    width: 25%;
    height: 400px;
}

.col.big {
    width: calc(50% - 40px);
    margin: 0 20px;
    height: 400px;
}

/* FOOTER */

footer {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;

}